<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<link rel="stylesheet" href="styles.css">
<body>
<%- include("partials/header"); -%>  

  <div class="body-content">
   <%   posts.forEach(function(posts){  %>
    <h1><%=posts.postTitle%></h1>
    <p><%=posts.postContent%></p>
   <%    });                            %>
  </div> 
<%- include("partials/footer"); -%> 
</body>
</html>