<link rel="stylesheet" href="/styles.css">
<%- include("partials/header"); -%>
 <div class="body-content">
             <div class="post">
                 <button><%=title %></button>
                 <p><%= content %></p>
             </div>
    
     </div>
<%- include("partials/footer"); -%>