html, body {
    min-height: 100vh;
   
}

/* header--css--properties */
.navbar {
    padding: 20px;
    font-size: 20px;
}
.navbar-brand {
    font-size: 25px;
    margin-left: 5px ;
}

/* body--css--properties */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/* footer--css--properties */
footer {
    margin-top: auto;
}
.card-footer {
    margin-top: auto;
    background-color: rgb(27, 166, 108);
    margin-bottom: 0px;
    width: 100%;
}