html, body {
    min-height: 100vh;
   
}

/* header--css--properties */
.header {
    background-color: rgb(234, 94, 0);
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 94, 0);
}
.navbar {
    padding: 20px;
    font-size: 20px;
    justify-content: space-between;
}
.navbar-brand {
    font-size: 25px;
    margin-left: 10px ;
}

@media only screen and (max-width: 600px) {
    .nav-brand-name {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
  }
/* body--css--properties */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body-content{
    margin: 15px 25px;
}
.navbar-nav li {
    padding: 5px 15px ;
}

.compose-form {
    margin: 40px 15px;
}
/* footer--css--properties */
footer {
    margin-top: auto;
}
.card-footer {
    margin-top: auto;
    background-color: rgb(27, 166, 108);
    margin-bottom: 0px;
    width: 100%;
}

