html, body {
    min-height: 100vh;
   
}

/* public/styles.css */
body {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

button {
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    background-color: #ff5757;
    color: #fff;
}

/* public/styles.css */
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.post {
    opacity: 0;
    transform: translateX(-50%);
    animation: slideIn 0.5s forwards ease-in-out;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Apply a delay for each post */
.post:nth-child(1) {
    animation-delay: 0.1s;
}

.post:nth-child(2) {
    animation-delay: 0.2s;
}

.post:nth-child(3) {
    animation-delay: 0.3s;
}


/* header--css--properties */
.header {
    background-color: rgb(234, 94, 0);
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 94, 0);
}
.navbar {
    padding: 20px;
    font-size: 20px;
    justify-content: space-between;
}
.navbar-brand {
    font-size: 25px;
    margin-left: 10px ;
}


/* body--css--properties */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body-content{
    margin: 15px 25px;
    padding: 10px;
    background-color: rgb(255, 236, 210);
    border-radius: 10px;
}
.body-content p{
    font-size: 20px;
    color: rgb(48, 46, 46);
}
.body-content .welcome {
  color: rgb(89, 88, 88);
}

.body-content .post button {
    font-size: 1.5em;
    background-color: #d6b09d;
    border: solid 0px;
    border-radius: 10px;
    color: #2d3a45;
}
.body-content .post p {
    padding: 10px 5px ;
}
.navbar-nav li {
    padding: 5px 15px ;
}

.compose-form {
    margin: 40px 15px;
}
/* footer--css--properties */
footer {
    margin-top: auto;
}
.card-footer {
    margin-top: auto;
    background-color: rgb(27, 166, 108);
    margin-bottom: 0px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .nav-brand-name {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .body-content .welcome {
        font-size: medium;
    }
  }